html{
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background-color:hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:480px) {
    body{
        background-color:hsl(225, 100%, 94%);
        background-image: url(./images/pattern-background-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}
a {
    cursor: pointer;
}
main{
    height: 100vh;
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    background-color: white;
    width: 290px;
    height: max-content;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-div{
}
.hero-img{
    width: 290px;
    height: auto;
}
h1{
    margin: 0;
    padding-top: 25px;
    font-weight: bolder;
    color: hsl(223, 47%, 23%);
}
.hero-text{
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    padding: 0px 25px;
    line-height: 1.4rem;
}
.price-option{
    background-color:hsl(225, 100%, 98%)    ;
    margin: 0px 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}
.price-option > img{
    width: auto;
    height: 50px;
}
.price-option > p{
    font-weight: 400;
    font-size: 14px;
    color: hsl(224, 23%, 55%);
}
.price-option > p > span{
    font-weight: 700;
    color: hsl(223, 47%, 23%)
}
.price-option > button{
    border: none;
    background: none;
    text-decoration: underline;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
    font-size: 14px;
    cursor: pointer;
}
.end-buttons{
margin: 0 25px;
}
.payment{
    color: white;
    background-color: hsl(245, 75%, 52%);
    display: block;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;    
}
.payment:hover{
    cursor: pointer;
    background-color: hsla(245, 78%, 79%, 1);
}
.cancel{
    color: hsl(224, 23%, 55%);
    background:none;
    display: block;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cancel:hover{
    cursor: pointer;
}

.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}