main{
    height: 98vh;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: black;
    color: aliceblue;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}
p{
    text-align: center;
}
.btn{
    background-color: aliceblue;
    color: black;
    border: 1px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
}
input:hover{
    background-color: red;
    border: 1px solid aliceblue;
}